<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GISLib.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="mappath" value="E:\Temp\Code006\Realease\Map\map.mws"/>
  </appSettings>
  <applicationSettings>
    <GISLib.Test.Properties.Settings>
      <setting name="Test_localhost_GISService" serializeAs="String">
        <value>http://localhost:14492/GISService.asmx</value>
      </setting>
    </GISLib.Test.Properties.Settings>
  </applicationSettings>
</configuration>